h1 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

div {
 background-image: '/assets/Banner Background.jpg';
 background-size: cover;
 background-repeat: no-repeat;
}
